# Querying SQL databases

Your task is to analyze game and player statistics from the NBA 2008-2009 season provided as a relational database of play-by-play data.

You cannot use jupyter to execute the queries. To write and test the queries, use the web interface at http://vo.elte.hu/basketball/. Copy queries into the worksheet for submission.

## Excercise 1 - Simple queries

a) List all teams playing in the league during the season

b) List teams in alphabetic order but division by division

c) Count the number of persons/players in the league

### queries
a)
```sql
SELECT * FROM dbo.team;
```

b)
```sql
SELECT * FROM dbo.division
ORDER BY name ASC; 
```

c)
```sql
SELECT COUNT(*) FROM dbo.player;
```

## Excercise 2 - Simple joins

a) List teams by division, including the division name

b) List players by team including the uniform number

### queries
a)
```sql
SELECT d.id, d.name, t.division_id, t.name
FROM dbo.division d, dbo.team t
WHERE d.id == t.division_id
ORDER BY d.name;
```

b)
```sql
SELECT t.name, ps.name, ps.age, pl.team_id
FROM dbo.person ps
JOIN dbo.player pl ON ps.id = pl.person_id
FULL JOIN dbo.team t ON pl.team_id = t.id
ORDER BY t.name ASC;
```

## Excercise 3 - Simple aggregation

a) Count number of persons playing for a given team

b) List all teams along with the number of players

c) Count the number of teams a given person played for

d) List all players along with the number of teams they played for

e) List players who played for more than two teams during the season

### queries

a)

#### List teams:
```sql
SELECT t.name
FROM dbo.team t;
```

#### List players in teams:
```sql
SELECT ps.name, ps.age, pl.team_id, t.name
FROM dbo.person ps
JOIN dbo.player pl
  ON ps.id = pl.person_id
FULL JOIN dbo.team t
  ON pl.team_id = t.id
ORDER BY ps.id ASC;
```

#### Count players in one of them
```sql
DECLARE @team varchar(40)
SET @team = '[TEAM_NAME]'

SELECT @team AS 'Team name', COUNT(*) AS 'Player count'
FROM dbo.team t
LEFT JOIN dbo.player pl
  ON pl.team_id = t.id
WHERE t.name = @team;
```

b)
#### Count player number in all teams
```sql
SELECT t.name AS 'Team name', COUNT(pl.id) AS 'Player count'
FROM dbo.team t
LEFT JOIN dbo.player pl
  ON pl.team_id = t.id
GROUP BY t.name;
```

c)
#### List all players with player IDs
```sql
SELECT ps.name, pl.person_id, pl.team_id
FROM dbo.player pl
LEFT JOIN dbo.person ps
  ON pl.person_id = ps.id
ORDER BY ps.name ASC;
```
#### List team count for specific player
```sql
DECLARE @person varchar(40)
SET @person = '[PERSON_NAME]'

SELECT ps.name AS 'Player name', COUNT(pl.person_id) AS 'Team count'
FROM dbo.player pl
LEFT JOIN dbo.person ps
  ON pl.person_id = ps.id
WHERE ps.name = @person
GROUP BY ps.name;
```

d)
#### List team count for all players

```sql
SELECT ps.name AS 'Player name', COUNT(pl.person_id) AS 'Team count'
FROM dbo.player pl
LEFT JOIN dbo.person ps
  ON pl.person_id = ps.id
GROUP BY ps.name;
```

e)
#### List players who played for more than N teams during the season

```sql
DECLARE @N int
SET @N = 2

SELECT ps.name AS 'Player name', COUNT(pl.person_id) AS 'Team count'
FROM dbo.player pl
LEFT JOIN dbo.person ps
  ON pl.person_id = ps.id
GROUP BY ps.name
HAVING COUNT(pl.person_id) > @N
```

## Excercise 4 - More complex queries with set operations and common table expressions

a) Pick a game and list all field shots and free throw attempts, including points

b) Combine the previous two into a single table and only show successful attempts

c) Take previous query and sum all points by team so that end result is available

d) Remove filter on game and get end result of each game during season

e) Modify the previous query to return a single line per game, with home team and away team points

### queries

a)

#### Select a game and list infos about requested shots
```sql
DECLARE @id int
SET @id = 1

SELECT s.game_id, s.cntr, s.type, s.team_id
FROM dbo.shot s
WHERE s.game_id = @id;

```

b)
#### List only successful attempts
```sql

```

## Excercise 5 - a rather complex example

a)  Print season results by division. For each team, calculate with a **single_ query**

- number of games played
- wins
- losts
- winning percentage

Compare with https://en.wikipedia.org/wiki/2008â€“09_NBA_season#By_division

In [ ]:
# query